persistence-layer/*
!persistence-layer/*/_README
!persistence-layer/geocml-project.qgz
!persistence-layer/portal-config.yaml
!persistence-layer/DBBackups
!persistence-layer/Fonts
**/__pycache__/**
.env
